body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: Monaco;
}

#frame {
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: 0;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  position: relative;
}


.paddle {
  width: 20px;
  height: 80px;
  background-color: white;
  position: absolute;;
  top: 30px;
}

.scores {
  position: absolute;
  left: 450px;
  color: white;
  font-size: 40px;
}

.scores .player1 {
}

.scores .player2 {
}

#left{
  left: 0px;
}

#right{
  right: 0px;
  top: 120px;
}

#ball {
  position: absolute;
  top: 237px;
  left: 437px;
  background-color: white;
  width: 25px;
  height: 25px;
}